node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Netlify — ignore build artifacts but keep the site link
.netlify/*

# ignore node env
.npmrc
.nvmrc 


